*{margin: 0;padding: 0;
list-style-type: none;
box-sizing: border-box;
text-decoration: none;}
body{max-width: 100px;background-color: black;}
div{width: 550px; margin-top: 200px; margin-left: 350px; margin-bottom: 300px; margin-right: 350px;}
header{padding:10px;background-color: rgb(59, 59, 61);}
header>nav>ul{padding: 10px; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}
.interactable{cursor: pointer;
transition: all ease-out 250ms;}
 .interactable:hover{transform: translate(4px,4px);}
 .interactable1:hover{transform: translate(4px,-3px); border-bottom: 3px solid red;}
 .interactable2:hover {transform: translateY(8px);}